<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name=viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Arduino Compiler - <%- title -%></title>
    <link rel="stylesheet" href="/css/main.54f3a3cf.css"/>
  </head>
  <body>
    <div id="root"><%- script -%></div>
    <script type="text/javascript" src="/js/main.ad7cce20.js"></script>
  </body>
</html>
