doctype html
html(lang='en')
  head
    title Allwine Designs Arduino Compiler
    style.
      #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .container {
        position: relative;
        width: 600px;
        height: 300px;
      }

  body
    select#board
      option(value="arduino:avr:uno").
        Arduino Uno
      option(value="arduino:avr:micro").
        Arduino Micro

    button#upload.
        Upload
    div.container
      div#editor= script


    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.8/iframeResizer.contentWindow.min.js")
    script(src="/editor.js")
