doctype html
html(lang='en')
  head
    title Allwine Designs Arduino Compiler

  body
    form(method="post" action="/compilations")
      textarea(name="script")
      br
      input(type="text" name="board" value="arduino:avr:uno")
      br
      button.
        Submit

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
